<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <h1>HEllo</h1>
    <h2>Y are u not working</h2>
    <h2>You should work </h2>
    <h3>It is a working day</h3>
</body>
</html>

<!-- <h2>It is a <%= kindOfDay %>  !</h2> -->
<!-- <% if(kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %>
    <h2 style="color: purple;"> <%= kindOfDay %> To-Do List </h2>
<% } else { %>
    <h2 style="color: blue;"> <%= kindOfDay %> To-Do List</h2>
<% } %> -->

<!-- Since newListItem we are getting from app.js is an array, it will directly print the list items separated by , under a single bullet point 
        So we need to loop through it.-->

<!-- change the name of the submit type button from button to list and added value which will be dynamic using eJS. -->